@using Domain.Models
@model IEnumerable<PeopleInTheDepartment>

@{
    ViewData["Title"] = "Index";
}

            <h3>Телефонный справочник</h3>
            <form asp-controller="PhoneBook" asp-action="Index">
                <p>
                    Фамилия: <input type="text" name="SearchString">
                    <input type="submit" value="Найти" />
                </p>
            </form>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Должность
                        </th>
                        <th>
                            ФИО
                        </th>
                        <th>
                            Телефон
                        </th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <thead class="thead-light text-center">
                        <tr>
                            <th colspan="3">@Html.DisplayFor(modelItem => item.Department.Title)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in item.People)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => person.Position.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => person.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => person.Phone.PhoneNumber)
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
