@using Domain.Models
@model IEnumerable<Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Должность
            </th>
            <th>
                ФИО
            </th>
            <th>
                Телефон
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <thead class="thead-light text-center">
            <tr>
                <th colspan="3">@Html.DisplayFor(modelItem => item.Department.Title)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone.PhoneNumber)
                </td>
            </tr>

        </tbody>
    }
</table>
